@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-dismiss-mobile,
.btn-dismiss-desktop,
.btn {
  transition: all 0.3s;
}

.btn-dismiss-mobile,
.btn-dismiss-desktop:hover,
.btn:hover {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.error::-webkit-input-placeholder {
  color: hsl(4, 100%, 67%);
}

.error-border {
  border-color: hsl(4, 100%, 67%);
}
